* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* HEADER */
header {
    display: flex;
    justify-content: end;
    width: 100%;
    padding: 20px 20px;
    background-color: rgb(245, 252, 166);
    border-bottom: 1px rgba(128, 128, 128, 0.308) solid;
    position: sticky;
    top: 0;
    z-index: 1000;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 25px;
}

nav ul li a {
    color: rgba(0, 0, 0, 0.555);
    text-decoration: none;
    font-weight: 600;
}

nav ul li:hover a {
    color: black;
}

nav ul li .hover,
nav ul li .hover2,
nav ul li .hover3 {
    width: 0;
    transition: width 0.5s ease;
}

nav ul li:hover .hover {
    width: 35px;
    height: 2px;
    background-color: rgb(226, 169, 241);
}

nav ul li:hover .hover2 {
    width: 130px;
    height: 2px;
    background-color: rgb(226, 169, 241);
}

nav ul li:hover .hover3 {
    width: 115px;
    height: 2px;
    background-color: rgb(226, 169, 241);
}

nav ul .boldt a {
    color: black;
}

nav ul .boldt .underline {
    height: 2px;
    width: 60px;
    background-color: rgb(226, 169, 241);
}


/* SECTION 1 */
.sec1 {
    background-color: rgb(245, 252, 166);
    padding: 20px;
    width: 100%;
}

.images {
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    transform: translateX(-150px);
    transition: transform 1s ease, opacity 1s ease;
    opacity: 0;
}
.images.show {
    transform: translateX(0);
    opacity: 1;
}

.images img {
    height: 250px;
    width: 250px;
    object-fit: cover;
}

.sec1 h1 {
    font-family: "Archivo Black", sans-serif;
    font-size: 6rem;
    font-weight: 300;
    color: rgb(226, 169, 241);
    margin-top: 50px;
    text-align: center;
}

.sec1 p {
    font-size: 2.5rem;
    margin: 20px 50px;
    text-align: justify;
}

/* TEXT + IMAGE SIDE BY SIDE */
.sec-text {
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    flex-wrap: wrap;
}

.sec-text img {
    height: 250px;
    width: 250px;
    object-fit: cover;
}

/* FOOTER */
.description {
    display: flex;
    justify-content: space-between;
    background-color: black;
    color: white;
    width: 100%;
    padding: 20px 80px;
    flex-wrap: wrap;
    position: sticky;
    bottom: 0;
}

.build2 {
    font-family: "Archivo Black", sans-serif;
    font-size: 6rem;
    font-weight: 300;
    color: rgb(226, 169, 241);
    margin-top: 50px;
    text-align: center;
}

/* VIDEO */
video {
    height: auto;
    width: 100%;
    max-width: 900px;
    border-radius: 10px;
}

.videos {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 40px;
}

/* -------------------------------------- */
/*            RESPONSIVE MOBILE           */
/* -------------------------------------- */

@media (max-width: 1024px) {
    .sec1 p {
        font-size: 2rem;
        margin: 20px 20px;
    }
}

@media (max-width: 768px) {

     header {
        justify-content: center;
        padding: 15px;
    }

    nav ul {
        gap: 15px;
    }

    nav ul li a {
        font-size: 0.9rem;
    }

    .sec1 h1 {
        font-size: 3rem;
    }

    .sec1 p {
        font-size: 1.6rem;
    }

    .build2 {
        font-size: 4rem;
    }

    .images img,
    .sec-text img {
        width: 200px;
        height: 200px;
    }
    .description {
        flex-direction: column;
        text-align: center;
        gap: 8px;
        padding: 20px 10px;
    }
}

@media (max-width: 480px) {

    header {
        justify-content: center;
    }

    nav ul {
        flex-wrap: wrap;
        gap: 10px;
        justify-content: center;
    }
    

    .sec1 {
        padding: 10px;
    }

    .images img,
    .sec-text img {
        width: 160px;
        height: 160px;
    }

    .sec1 h1,
    .build2 {
        font-size: 3rem;
    }

    .sec1 p {
        font-size: 1.3rem;
        margin: 10px;
    }

    .description {
        flex-direction: column;
        text-align: center;
        gap: 8px;
        padding: 20px 10px;
    }
}
