* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* HEADER */
header {
    display: flex;
    justify-content: end;
    width: 100%;
    padding: 20px 20px;
    background-color: rgb(245, 252, 166);
    border-bottom: 1px rgba(128, 128, 128, 0.308) solid;
    position: sticky;
    top: 0;
    z-index: 1000;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 25px;
}

nav ul li a {
    color: rgba(0, 0, 0, 0.555);
    text-decoration: none;
    font-weight: 600;
}

nav ul li:hover a {
    color: black;
}

nav ul li .hover,
nav ul li .hover2,
nav ul li .hover3 {
    width: 0;
    transition: width 0.5s ease;
}

nav ul li:hover .hover {
    width: 45px;
    height: 2px;
    background-color: rgb(226, 169, 241);
}

nav ul li:hover .hover2 {
    width: 138px;
    height: 2px;
    background-color: rgb(226, 169, 241);
}

nav ul li:hover .hover3 {
    width: 70px;
    height: 2px;
    background-color: rgb(226, 169, 241);
}

nav ul .boldt a {
    color: black;
}

nav ul .boldt .underline {
    height: 2px;
    width: 120px;
    background-color: rgb(226, 169, 241);
}

/* MAIN SECTION */
.sec1 {
    background-color: rgb(245, 252, 166);
    padding: 20px;
    width: 100%;
    padding-bottom: 150px;
}

.build2 {
    font-family: "Archivo Black", sans-serif;
    font-size: 6rem;
    font-weight: 300;
    color: rgb(226, 169, 241);
    margin-top: 50px;
    text-align: center;
}

/* BOXES */
.container {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.box,
.box2,
.box3 {
    width: 500px;
    text-align: center;
    transform: translateX(-150px);
    transition: transform 1s ease, opacity 1s ease;
    opacity: 0;
}
.box.show,
.box2.show,
.box3.show {
    transform: translateX(0);
    opacity: 1;
}

img {
    height: 400px;
    width: 500px;
    margin-bottom: 20px;
    object-fit: cover;
}

/* FOOTER */
.description {
    display: flex;
    justify-content: space-between;
    background-color: black;
    color: white;
    width: 100%;
    padding: 20px 80px;
    flex-wrap: wrap;
    position: sticky;
    bottom: 0;
}

/* -------------------------------------- */
/*            RESPONSIVE MOBILE           */
/* -------------------------------------- */

/* Tablet */
@media (max-width: 1024px) {
    .build2 {
        font-size: 4.5rem;
    }

    img {
        width: 400px;
        height: 320px;
    }

    .box, .box2, .box3 {
        width: 400px;
    }
}

/* Mobile */
@media (max-width: 768px) {

     header {
        justify-content: center;
        padding: 15px;
    }

    nav ul {
        gap: 15px;
    }

    nav ul li a {
        font-size: 0.9rem;
    }

    .build2 {
        font-size: 3rem;
        margin-bottom: 20px;
    }

    img {
        width: 300px;
        height: 240px;
    }

    .box, .box2, .box3 {
        width: 300px;
    }

    .description {
        flex-direction: column;
        text-align: center;
        gap: 8px;
        padding: 20px 20px;
    }
}

/* Small Phones */
@media (max-width: 480px) {

    img {
        width: 250px;
        height: 200px;
    }

    .box, .box2, .box3 {
        width: 260px;
    }

    .build2 {
        font-size: 3rem;
    }

    nav ul {
        gap: 8px;
    }
}
